.container {
  position: relative;
  margin-top: 100px;
}

.loader {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 3px dotted navy;
  animation: rotate 1s infinite linear;

}

.text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}