.myModal {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  position: fixed;
  background-color: rgba(0, 0, 0, .5);
  z-index: 2;
  transition: all .3s;
}

.myModal.active {
  visibility: visible;
  opacity: 1;
}

.content {
  padding: 40px;
  border-radius: 15px;
  background-color: aliceblue;
  position: relative;
}

.close {
  position: absolute;
  top: 13px;
  right: 13px;
  height: 20px;
  width: 20px;
  cursor: pointer;
  opacity: .8;
  transition: all .2s;
  &:hover {
    opacity: 1;
  }
}