* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'IBM Plex Sans', sans-serif;
}

.navbar {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  border-bottom: 2px solid navy;
}

.active {
  color: red;
}

.mylink {
  font-size: 20px;
  text-decoration: none;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-top: 20px;
}

.about__page div {
  width: 80%;
  max-width: 1000px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  border: 1px solid navy;
  padding: 10px;
  /*border-radius: 10px;*/
  width: 250px;
}

.card__name {
  font-size: 19px;
  font-weight: 600;
  text-align: center;
}

.card__img-box {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__info {
  padding-top: 10px;
  border-top: 1px dotted navy;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.card__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 1000px;
  gap: 20px;
}

.cards__page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error__page {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(white, lightcyan);
}

.error__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.error__text {
  font-size: 28px;
}

.error_h {
  font-size: 35px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 10px;
  margin: 10px 0;
  border-bottom: 1px solid navy;
}

.form__page{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__label {
  position: relative;
}

.form__control {
  margin-left: 10px;
}

.form__radio-container {
  border: none;
  display: flex;
  gap: 20px
}

.form__submit {
  width: 50%;
  padding: 5px 15px;
  color: navy;
  border: 1px solid navy;
  font-size: 14px;
  background-color: transparent;
  cursor: pointer;
  margin: 0 auto;
  transition: all .2;
}

.form__submit_dis {
  opacity: .4;
  cursor: none;
}

.form__success {
  font-size: 18px;
  color: green;
  font-weight: bold;
}

.user-post__img {
  width: 230px;
  background-color: aliceblue;
}

.error__label {
  position: absolute;
  right: -50px;
  color: red;
}